<div *ngIf="MovieItem" class="card" appHoverAffect="bonus">
    <div class="title" >{{ MovieItem ? MovieItem.title : "" }}</div><br>
    <div class="description">{{ MovieItem ? MovieItem.description : "" }}</div><br>
    <div class="creator">{{ MovieItem ? MovieItem.creator : "" }}</div><br>

   <div *ngIf="MovieItem"><img [src]='MovieItem ? MovieItem.imageUrl: ""'>

  </div><br>
   
    <div class="type" appHoverAffect="affect1">{{ MovieItem ? MovieItem.type : "" }}</div><br>
    <div class="tags" appHoverAffect="affect2">{{ MovieItem ? MovieItem.tags : "" }}</div><br>
  </div>

  <div>
    <a [routerLink]="['/content', MovieItem?.id ?? 0]" routerLinkActive="active">
      Movie Details
    </a>
  </div>

  
