:host{
    
    .card{

    border: 1px solid black;
   width: 400px;
   
    text-align: left;
 
    margin-bottom: 10px;
    }
    .title{
        font-size: large;
        color: blueviolet;

    }
    .type{
        color: rgb(96, 128, 34);
    }
    .img{
        width: 300px;
    }   
}

.affect1{
    text-decoration: underline;

}
.affect2
{
    font-weight: bold;
}
.bonus:first-of-type:hover{
    border: 1px solid aqua;
}
:host.action{
    .card
    {
        color: blueviolet;
        background-color: blanchedalmond;
    }
    
}

:host.reaction{
    .card
    {
        color: papayawhip;
        background-color: rebeccapurple;
    }
    
    
}
