
<h1>{{ title }}</h1>
<!-- 
<div>
    <input #title1>
    <button (click)="listofmovie(title1.value)">Submit</button>
    <p class="text1" *ngIf="avMovie">{{ avMovie }}</p>
    <p class="text2" *ngIf="avNotMovie">{{ avNotMovie }}</p>
   
</div> -->
<app-create-content (newMovieEvent)="addMovieToList($event)"></app-create-content>
<h2>Action Movies</h2>
<app-card appHoverAffect elementType="card"  *ngFor = "let item of (MovieList | moviefilter:'action'); index as i " 
[MovieItem] = "item" [class.action]="i+1">
</app-card>

<h2>Action and Real-life</h2>
<app-card *ngFor = "let item of (MovieList | moviefilter:'action and real life'); index as i " 
[MovieItem] = "item" [class.reaction]="i+1">
</app-card>

<h2>Undeclared Movies</h2>
<app-card *ngFor = "let item of (MovieList | moviefilter); index as i " 
[MovieItem] = "item">
</app-card>