:host{
    h1{
        text-align: center;
        font-size: 2em;
    }
    .text1
    {
        color: green;
        background-color: purple;
        
    }
    .text2
    {
        color: bisque;
        background-color: blueviolet;
        
    }   
    .action 
    {
        color: greenyellow;
        background-color: palevioletred;
    }
}
